<header>
  <div class="top-header">
    <div class="container">
      <a href="index.html" class="navbar-brand">
        <img src="../assets/images/StarReach.png" alt="StarReach Aerospace Logo">
        <span>StarReach Aerospace</span>
      </a>
      <nav role="menubar" class="d-flex">
        <a role="menuitem" href="../index.html" tabindex="0">Home</a>
        <a role="menuitem" href="../about.html" tabindex="0">About</a>
        <a role="menuitem" href="../starreach-services.html" tabindex="0">Services</a>
        <a role="menuitem" href="../missions.html" tabindex="0">Missions</a>
        <a role="menuitem" href="#" data-bs-toggle="modal" data-bs-target="#contactModal" tabindex="0">Contact</a>
      </nav>
    </div>
  </div>
</header>
